body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  --s: 200px;
  --c1: #ffca00;
  --c2: #121212;

  --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%,
    var(--c1) 34% 44%, var(--c2) 44% 56%, var(--c1) 56% 66%, var(--c2) 66% 76%,
    var(--c1) 76% 86%, var(--c2) 86% 96%;
    background:
    radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 30%;
  height: 250px;
  margin: 15% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

h1 {
  text-align: center;
  margin: 0;
}

h3 {
  margin: 0;
}

.answer-container {
  width: 100%;
  text-align: center;
}

input {
  text-align: center;
  width: 30%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: large;
  display: block;
  width: 80%;
  padding: 10px;
  background-color: #ffca00;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
}

#result {
  text-align: center;
  font-size: 24px;
}

.checkmark {
  color: transparent;
  animation: checkmark 0.5s ease;
}

.cross {
  color: transparent;
  animation: cross 0.5s ease;
}

@keyframes checkmark {
  0% {
    color: transparent;
  }
  100% {
    color: green;
  }
}

@keyframes cross {
  0% {
    color: transparent;
  }
  100% {
    color: red;
  }
}

.restart-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}


